<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>H9 Remote</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>Remote control surface for the Eventide H9 (MIDI CC/SysEx only, no audio DSP)</string>
					<key>factoryFunction</key>
					<string>H9AudioUnitViewController</string>
					<key>manufacturer</key>
					<string>H9Au</string>
					<key>name</key>
					<string>H9Au: H9 Remote</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>H9rm</string>
					<key>tags</key>
					<array>
						<string>MIDI</string>
						<string>Effects</string>
					</array>
					<key>type</key>
					<string>aumi</string>
					<key>version</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).H9AudioUnitViewController</string>
	</dict>
</dict>
</plist>
